<% const { device, database } = $content %>
<fieldset data-id="inspector">
	<legend><%= device.legend %></legend>
	<field data-id="host">
		<label><%= device.host.label %>%></label>
		<input
			type="text"
		  value="<%= database.host %>"
		  required
	  >
	  <detail><%= device.host.detail %></detail>
	</field>
	<field data-id="port">
		<label><%= device.port.label %></label>
		<input
		  type="number"
		  value="<%= database.port %>"
	  >
	  <detail><%= device.port.detail %></detail>
	</field>
	<resources data-active="<%= device.resources.active %>">
		<header>
			<name><%= device.resources.name %></name>
			<button></button>
		</header>
		<main>
			<% for(const $resource of device.resources.items) { %>
				<resource>
					<a
					  href="<%= $resource.href %>"
					  target="_blank"
				  ><%= $resource.textContent %></a>
				</resource>
			<% } %>
		</main>
	</resources>
</fieldset>