<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= $data.title %></title>
  <% for(const $style of $data.styles) { -%>
    <link 
      rel="<%= $style.rel %>" 
      type="<%= $style.type %>" 
      href="<%= $style.href %>"
    >
  <% } -%>
</head>
<body>
  <%- await include('./structure.ejs', {
    structure: $data.structure
  }, { async: true }) %>
  <% for(const $script of $data.scripts) { -%>
    <script 
      src="<%= $script.src %>"
      type="<%= $script.type %>"
    ></script>
  <% } -%>
  <%# await include('./browser-sync.ejs', {}, { async: true }) %>
</body>
</html>